/*
 * File: quiz.css: 
 *  Desc: uses BEM, class-driven, a-z declarations, colors as rgb()
 */

/* container styles */
.quiz-body {
  color: rgb(51, 51, 51);
  font: 20px sans-serif;
}

.quiz-container {
  height: 200px;
  margin-top: 40px;
  position: relative;
}

/* page element styles */
.page-title {
  background-color: black;
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  padding: 8px;
  text-align: center;
  text-shadow: 1px 1px #999;
}

.question {
  font-weight: 600;
}

.answers {
  margin-bottom: 20px;
}

.answer {
  display: block;
}

.answer__correct {
  color: rgb(0, 128, 0);
}

.answer__incorrect {
  color: rgb(255, 0, 0);
}

/* quiz buttons */
.btn {
  background-color: rgb(51, 136, 170);
  border: 0;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font: 20px sans-serif;
  margin: 0 4px 20px 4px;
  padding: 20px;
}

/* if sass, would be &:hover */
.btn:hover {
  background-color: rgb(34, 119, 153);
}

/* quiz slides */
.slide {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.5s; /* realize that transition contains time, and by extension, animation */
  width: 100%;
  z-index: 1;
}

.slide__active {
  opacity: 1;
  z-index: 2;
}
